<?xml version="1.0"?>
<configuration>
  <location path="~/Member.aspx">
    <system.web>
      <authentication mode="Forms">
        <forms name="MemberLoginForm" loginUrl="LoginPage.aspx" defaultUrl="Member.aspx" timeout="30"/>
      </authentication>
      <authorization>
        <deny users="Staff1"/>
        <deny users="Staff2"/>
      </authorization>
    </system.web>
  </location>
</configuration>
